.ctm-btn1{
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-Primary1);
  color: var(--color-white);
  font-family: "font_medium";
  font-size: 16px;
  text-align: center  ;
  align-content: center;
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px;
  width: fit-content;
}
.ctm-btn1:hover{
  background-color: transparent;
  color: var(--color-Primary1);
  transition: all .3s ease;
  border: 1px solid var(--color-Primary1);
}
.ctm-btn2{
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-Primary1);
  font-family: "font_medium";
  font-size: 16px;
  text-align: center  ;
  align-content: center;
  display: inline-block;
  border: 1px solid var(--color-Primary1);
  padding: 10px;
}
.ctm-btn2:hover{
  background-color: var(--color-Primary1);
  color: var(--color-white);
  transition: all .3s ease;
  border: 1px solid var(--color-Primary1);
}



.about-section{
  padding: 70px 0;
}
.about-section .about-img{
  position: relative;
  display: flex;
  width: 100%;
  
}
.about-section .about-img::before{
  content: "";
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 4px;
  height: 50%;
  background-color: var(--color-Primary1);
  z-index: -1;
  border-radius: 10px;
  animation: img-animation 4s ease-in-out infinite;
  
}
.about-section .about-img::after{
  content: "";
  position: absolute;
  bottom: -14px;
  right: -12px;
  width: 80%;
  height: 4px;
  background-color: var(--color-Primary1);
  z-index: -1;
  border-radius: 10px;
  animation: img-animation-reverse 4s ease-in-out infinite;
}

@keyframes img-animation{
  0%{
    height: 0;
  }
  50%{
    height: 50%;
  }
  100%{
    height: 0;
  }
  
}
@keyframes img-animation-reverse{
  0%{
    width: 0;
  }
  50%{
    width: 80%;
  }
  100%{
    width: 0;
  }
  
}
.about-section .about-img img{
  box-shadow: 0 0 10px 10px rgba(141, 23, 57, 0.25);
  width: 100%;
  max-height: 340px;
  object-fit: cover;
  
}

.about-section .about-text{
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.sub-title{
  font-size: 32px;
  color: var(--color-Primary1);
  text-align: center;
}

.about-section .about-text p{
  font-size: 18px;
  color: var(--color-gray);
}
.about-section .about-text .sub-title{
  text-align: right;
}


/* about bank */
.about-bank{
  padding: 70px 0;
  height: auto;
  min-height: 500px;
  position: relative;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    
    background-position: center;
}
.about-bank .sub-title{
  color: var(--color-white);
  
}
.about-bank::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-Primary1);
  opacity: 0.7;
  z-index: 1;
}
.about-bank .about-bank-text {
  text-align: center;
  position: relative;
  z-index: 2;
  gap: 20px;
    display: flex;
    flex-direction: column;
}

.about-bank .about-bank-text p{
  font-size: 20px;
  color: var(--color-white);
  text-align: right;
  margin-top: 20px;
  line-height: 2;
}

/* event */
.event-section{
  padding: 70px 0;
  width: 95%;
  margin: 0 auto;
}  

.event-section .row{
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.event-section .event-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 70px;
}

.event-section .event-header p{
  font-size: 16px;
  color: var(--color-gray);
}
.event-section .count-container{
  background-color: var(--color-Primary3);
  border-radius: 10px;
  text-align: center;
  margin: 0 15px;
}
.event-section .count-container .count-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  

}
.event-section .count-container .count-body p{
  font-size: 24px;
  color: var(--color-white);
  background-color: var(--color-Primary1);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.event-section .count-container .count-body span{
  font-size: 150px;
  color: var(--color-Primary1);
  font-family: "poppins-bold";
  font-weight: bold;

}

.event-section .event-actions{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;


}
.event-section .event-actions a{
  width: 250px;
  
}

/* content-qatar */
.content-qatar{
  padding: 70px 0;
  
}
.content-qatar .main-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-qatar .row{
  row-gap: 40px;
}

.content-qatar p{
  font-size: 20px;
  color: var(--color-Primary1);
  text-align: center;
}
.content-qatar .statistics,
.content-qatar .statistics-features{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:  40px 10px;
  box-shadow: 0 0 10px 0 rgba(141, 23, 57, 0.25);
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
 
}
.content-qatar .statistics .statistic-item,
.content-qatar .statistics-features .statistic-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.content-qatar .statistics .statistic-item p,
.content-qatar .statistics-features .statistic-item p{
  font-size: 16px;
  color: var(--color-gray);
  text-align: center;
  margin-top: 10px;
}
.statistic-item-text{
  text-align: center;
}
.statistics-features .statistic-item h3{
  font-size: 24px;
  color: var(--color-Primary1); 
  font-family: "font_bold";
}


/* statistics numbers */
.content-qatar .statistics-numbers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} 
.content-qatar .statistics-numbers .statistics-numbers-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--color-Primary1);
  width: 100%;
  border-radius: 10px;
  min-height: 270px;
  height: auto;
  padding: 20px;

}
.content-qatar .statistics-numbers .statistics-numbers-item .statistics-numbers-item-counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
} 
.content-qatar .statistics-numbers .statistics-numbers-item .statistics-numbers-item-counter .progress-text{
  font-size: 60px;
  color: var(--color-white);
  font-family: "poppins-bold";
  font-weight: bold;
} 
.content-qatar .statistics-numbers .statistics-numbers-item .statistics-numbers-item-counter p{
  font-size: 14px;
  color: var(--color-white);
  font-family: "font_main";
}  
.content-qatar .statistics-numbers .statistics-numbers-item .statistics-numbers-item-text{
  font-size: 16px;
  color: var(--color-white);
  text-align: center;
}
.content-qatar .statistics-numbers .statistics-numbers-item .statistics-numbers-item-text p{
  font-size: 16px;
  color: var(--color-white);
} 


/* labor sector */
.labor-sector,
.sectors{
  padding: 70px 0;
  
}
.labor-sector .main-container,
.sectors .main-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.labor-sector .row,
.sectors .row{
  row-gap: 40px;
}
.labor-sector .labor-sector-item,
.sectors .sectors-item{
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-Primary1);
  border-radius: 20px;
  overflow: hidden;
  height: 315px;

  
} 

.sectors .sectors-item{
  height: 250px;
}

.labor-sector .labor-sector-item-img,
.sectors .sectors-item-img{
  height: 81%;
  position: relative;
} 
.labor-sector .labor-sector-item img,
.sectors .sectors-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.labor-sector .labor-sector-item-title,
.sectors .sectors-item-title{
  flex-direction: column;
  display: flex;
justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color:var(--color-Primary1);
  z-index: 1;
  opacity: 0;
  transition: all .3s ease;
} 
.labor-sector .labor-sector-item:hover .labor-sector-item-title,
.sectors .sectors-item:hover .sectors-item-title{
  opacity: .8;
  height: 100%;
}

.labor-sector .labor-sector-item-title p,
.sectors .sectors-item-title p{
  font-size: 14px;
  color: var(--color-white);
  text-align: center;
}
.labor-sector .labor-sector-item-title ul,
.sectors .sectors-item-title ul{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 30px;
} 

.labor-sector .labor-sector-item-title ul li,
.sectors .sectors-item-title ul li{
  font-size: 14px;
  color: var(--color-white);
} 
.labor-sector .labor-sector-item-title ul li::before,
.sectors .sectors-item-title ul li::before{
  content: "•";
  color: var(--color-white);
  margin-left: 10px;
}


.labor-sector .labor-sector-item-text,
.sectors .sectors-item-text{
  flex: 1;
}  
.labor-sector .labor-sector-item-text h3,
.sectors .sectors-item-text h3{
  font-size: 24px;
  color: var(--color-Primary1);
  font-family: "font_bold";
  text-align: center;
  align-content: center;
  height: 100%;
}



/* companies */
.companies{
  padding: 70px 0;
  background-color: var(--color-Primary3);
}
.companies .row{
  row-gap: 20px;
}
.companies .main-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.companies .company-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  overflow: hidden;
  height: 150px;
  border: 1px solid var(--color-Primary1);
  padding: 5px  ;
  background-color: var(--color-white);
  cursor: pointer;
}
.companies .company-item-img{
  width: 100%;
  height: 50%;
  position: relative;
} 
.companies .company-item-img::before{
  content: "";
  position: absolute;
  border-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 30%;

  height: 1px;
  background-color: var(--color-gray);
}
.companies .company-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
.companies .company-item-text{
  font-size: 16px;
  color: var(--color-Primary1);
  text-align: center;
} 
.companies .company-item-text p{
  font-size: 16px;
  color: var(--color-gray);
  text-align: center;
} 


/* contact */
.contact{
  padding: 70px 0;
}


.contact .main-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact .row{
  row-gap: 40px;
}


.contact .contact-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: var(--color-Primary1);
  padding: 20px;
  color: var(--color-white);
  gap: 20px;
}
.contact .contact-item-img{
  display: flex;
  gap: 10px;
}

.contact .contact-item-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.contact .contact-item-text p{
  font-size: 26px;
  color: var(--color-Primary5);
}
.contact .contact-item-text span{
  font-size: 22px;
  color: var(--color-white);
}
.contact-invitation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.contact-invitation .contact-invitation-item{  
  font-size: 14px;  
  color: var(--color-Primary5);
  display: flex;
  gap: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.contact-invitation .contact-invitation-item span {
  font-size: 16px;
  color: black;
  background-color: var(--color-Primary5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  align-content: center;
}
.contact-invitation .contact-invitation-item p{
  flex: 1;
  color: var(--color-Primary5);
}
.invitation-card{
  background-color: var(--color-white);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--color-Primary1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.invitation-card p{
  font-size: 14px;
  color: var(--color-Primary1);
  border-bottom: 1px solid var(--color-gray);
  padding-bottom: 10px;
  text-align: center;
}
 .invitation-card span{
  font-size: 12px;
  color: black;
  text-align: center;
}
.invite-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
} 
.invite-details-item{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
} 
 .invite-details-item p{
  font-size: 14px;
  color: var(--color-Primary1);
  background-color: var(--color-white);
  padding:  2px 10px;
  border-radius: 10px;
  border: 1px solid var(--color-Primary1);

}
.invite-details-item span{
  font-size: 12px;
  color: var(--color-white);
}

.contact-cards{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.contact-container-card{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--color-Primary1);
  border-radius: 20px;  
  padding: 20px;
  width: 100%;
}
.contact-container-card p{
  font-size: 24px;
  color: var(--color-Primary1);
  font-family: "font_bold";
  text-align: center;
}
.contact-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-card-item{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.contact-card-item p{
  font-size: 20px;
  color: var(--color-gray);
  font-family: "font_medium";
}
.contact-btn{

  padding:0 30px ;
  height: 50px;
}



/* footer */
.footer{
  padding: 70px 0 10px 0;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.footer::before{
  content: url(../images/footer-after.png);
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: -1;
} 

.footer::after{
  content: url(../images/footer-after.png);
  position: absolute;
  top: 0;
  right: 0;
  transform: scaleX(-1);
  z-index: -1;
} 
.footer .main-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
/* .footer .footer-logo{
  width: 100px;
  height: 100px;
}
.footer .footer-logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}  */
.footer .footer-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.footer .footer-content-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-content-item ul{
  display: flex;
  gap: 30px;
}
.footer .footer-content-item ul li{
  font-size: 14px;
  color: var(--color-Primary1);
  font-family: "font_medium";
} 
.footer .footer-content-item ul li a{
  color: var(--color-Primary1);
  font-family: "font_medium";
  padding: 10px;
  border-radius: 10px;
} 
.footer .footer-content-item ul li a:hover{
  color: var(--color-white);
  background-color: var(--color-Primary1);
  
} 
.footer .footer-content-icons{
  display: flex;
  gap: 10px;
}
.footer .footer-content-icons a{
  font-size: 20px;
  color: var(--color-Primary1);
  border:  1px solid var(--color-Primary1);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.footer .footer-content-icons a:hover{
  background-color: var(--color-Primary1);
  color: var(--color-white);
} 
  
footer p{
  color: var(--color-gray);
  font-size: 16px;
}





/* custom select */

.custom-select {
  position: relative;
  width: 200px;
  cursor: pointer;
}

.option-icon {
  width: 20px;
  margin-right: 8px;
}
.options {
  display: none;
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  z-index: 100;
}

.custom-select:hover .options {
  display: block;
}
.option {
  padding: 5px;
}
.option:hover {
  background-color: #eee;
}



/* register form */
.register-form{
  padding: 70px 0;
}
.register-form form{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.input-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.register-form-check{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form-check h2{
  font-size: 16px;
  color: black;
  
}


.form-check-item{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-form label,
.register-form-check label{
  font-size: 16px;
  color: #696F79;
  font-family: "font_main";
}

.input-form input,
.input-form select{
  width: 100%;
  height: 55px;
  border-radius: 12px;
  padding: 0 10px;
  border: 1px solid var(--color-gray);
}

.input-form input[type="tel"]{
  padding-left: 6px !important;
  padding-right: 55px !important;


}

.iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container{
  right: 0 !important;
  left: auto !important;
}

.iti__flag-box, .iti__country-name{
  color: var(--color-Primary1) !important;
  font-family: "poppins-bold" !important;
}

.register-form-check{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.register-form-check .form-check{
  display: flex;
  gap: 40px;
  align-items: center;
}

.form-check-input[type=checkbox][type=checkbox]{
  width: 24px;
  height: 24px;
}




.register-form-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-form-btn button{
  width: 250px;
  
}




/* event program */
.event-program .main-container{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accordion{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

 .accordion-item {
  border: none;
  border: 1px dashed var(--color-Primary1);
  border-radius: 12px;
}
.accordion-item:not(:first-of-type){
  border: 1px dashed var(--color-Primary1);
  border-radius: 12px;
}

 .accordion-button::after {
  color: var(--primary1);
  position: absolute;
  left: 20px;
}

 .accordion-button:not(.collapsed)::after {
  color: #ff6f3c;
  position: absolute;
  left: 20px;
}

 .accordion-button:not(.collapsed) {
  box-shadow: none;
  border-radius: 12px 12px 0 0;
}

 .accordion-body {
  color: rgba(102, 102, 102, 1);
  border-radius: 12px;
}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-radius: 12px;
}

.accordion-button {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: var(--color-Primary1);
  font-family: "font_medium";
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-Primary3);
  color: var(--color-Primary1);

}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  text-align: right !important;
  border-radius: 12px;
}

.event-time-title{
  padding: 10px;
  border: 1px solid var(--color-gray);
  width: fit-content;
  border-radius: 12px;
}
.event-time-title P{
  font-size: 16px;
  color: var(--color-gray);
  font-family: "poppins-bold";
  font-weight: bold;
}

.event-time{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 0;
}
.event-time-card{
  background-color: var(--color-Primary3);
  border-radius: 12px;
  min-height: 150px;
}
.event-time-card .card-time{
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-Primary1);
  padding: 10px;
  border-radius: 12px 12px 0 0;
  text-align: center;
}
.event-time-card .card-title{
  color: var(--color-Primary1);
  padding: 10px;
}
.event-time-card .card-title p{
  font-size: 20px;
  color: var(--color-Primary1);
  font-family: "font_medium";
  position: relative;
  padding-right: 20px;
}
.event-time-card .card-title p:before{
  content: "\f054";
    font-family: "Font Awesome 6 Free"; /* or "FontAwesome" */
    font-weight: 900; /* Required for solid icons */
    position: absolute;
    right: 0px;
    top: 0;
    font-size: 12px;
    color: var(--color-Primary1);
}
  
