.ctm-btn1{
  height: 40px;
  border-radius: 10px;
  background-color: var(--color-Primary1);
  color: var(--color-white);
  font-family: "font_medium";
  font-size: 16px;
  text-align: center  ;
  align-content: center;
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px;
  width: fit-content;
}
.ctm-btn1:hover{
  background-color: transparent;
  color: var(--color-Primary1);
  transition: all .3s ease;
  border: 1px solid var(--color-Primary1);
}
.ctm-btn2{
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-Primary1);
  font-family: "font_medium";
  font-size: 16px;
  text-align: center  ;
  align-content: center;
  display: inline-block;
  border: 1px solid var(--color-Primary1);
  padding: 10px;
}
.ctm-btn2:hover{
  background-color: var(--color-Primary1);
  color: var(--color-white);
  transition: all .3s ease;
  border: 1px solid var(--color-Primary1);
}



.about-section{
  padding: 70px 0;
}
.about-section .about-img{
  position: relative;
  display: flex;
  width: 100%;
  
}
.about-section .about-img::before{
  content: "";
  position: absolute;
  bottom: -14px;
  right: -14px;
  width: 4px;
  height: 50%;
  background-color: var(--color-Primary1);
  z-index: -1;
  border-radius: 10px;
  
}
.about-section .about-img::after{
  content: "";
  position: absolute;
  bottom: -14px;
  right: -12px;
  width: 80%;
  height: 4px;
  background-color: var(--color-Primary1);
  z-index: -1;
  border-radius: 10px;
}
.about-section .about-img img{
  box-shadow: 0 0 10px 10px rgba(141, 23, 57, 0.25);
  width: 100%;
  max-height: 340px;
  object-fit: cover;
  
}

.about-section .about-text{
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.about-section .about-text h2{
  font-size: 40px;
  color: var(--color-Primary1);
}

.about-section .about-text p{
  font-size: 18px;
  color: var(--color-gray);
}



/* about bank */
.about-bank{
  padding: 70px 0;
  height: auto;
  min-height: 500px;
  position: relative;
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    
    background-position: center;
}
.about-bank::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-Primary1);
  opacity: 0.7;
  z-index: 1;
}
.about-bank .about-bank-text {
  text-align: center;
  position: relative;
  z-index: 2;
  gap: 20px;
    display: flex;
    flex-direction: column;
}
.about-bank .about-bank-text h2{
  font-size: 32px;
  color: var(--color-white);
}
.about-bank .about-bank-text p{
  font-size: 20px;
  color: var(--color-white);
  text-align: right;
  margin-top: 20px;
  line-height: 2;
}

/* event */
.event-section{
  padding: 70px 0;
  width: 95%;
  margin: 0 auto;
}  

.event-section .row{
  row-gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.event-section .event-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 70px;
}
.event-section .event-header h2{
  font-size: 32px;
  color: var(--color-Primary1);
}
.event-section .event-header p{
  font-size: 16px;
  color: var(--color-gray);
}
.event-section .count-container{
  background-color: var(--color-Primary3);
  border-radius: 10px;
  min-height: 230px;
  text-align: center;
  margin: 0 15px;
}
.event-section .count-container .count-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  

}
.event-section .count-container .count-body p{
  font-size: 16px;
  color: var(--color-white);
  background-color: var(--color-Primary1);
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
.event-section .count-container .count-body span{
  font-size: 150px;
  color: var(--color-Primary1);
  padding: 20px;

}

.event-section .event-actions{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
  align-items: center;


}
.event-section .event-actions a{
  width: 250px;
  
}